<h1>All Contacts</h1>
<% @contacts.each do |contact| %>
  <h2>First Name: <a href="www.google.com"><%= contact.first_name %></a></h2>
  <h2>Last Name: <%= contact.last_name %></h2>
  <h2><span>Email:</span> <%= contact.email %></h2>
  <h2>Phone: <%= contact.phone_number %></h2>
  <br>
<% end %>

<div>
  <a href="www.rubymonk.com">Ruby Monk</a>
</div>